# Ignore these folders entirely
/vision/
/sg2002_quant_tools/

# Local build artifacts
/build/

# User files
*.swp
*.swo

# Ignore all build directories at any level
**/build/

# Ignore model directories at any level
**/model/
**/models/

# Ignore model files
*.cvimodel
*.onnx
*.pt
*.pth

# Ignore Python cache
__pycache__/
*.pyc
